<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocPal"
        tools:targetApi="31">
        <activity
            android:name=".DoctorProfilePage"
            android:exported="false" />
        <activity
            android:name=".PatientsToChat"
            android:exported="false" />
        <activity
            android:name=".ChaaatPage"
            android:exported="false" />
        <activity
            android:name=".ChattingPage"
            android:exported="false" />
        <activity
            android:name=".DoctorsToChat"
            android:exported="false" />
        <activity
            android:name=".HomePageDoctor"
            android:exported="false" />
        <activity
            android:name=".SeePatientDetails"
            android:exported="false" />
        <activity
            android:name=".ListOfAppointments"
            android:exported="false" />
        <activity
            android:name=".DetailedBookAppointment"
            android:exported="false" />
        <activity
            android:name=".DoctorLogin"
            android:exported="false" />
        <activity
            android:name=".BookingConfirmedPage"
            android:exported="false" />
        <activity
            android:name=".UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".MessagesPage"
            android:exported="false" />
        <activity
            android:name=".NotificationsPage"
            android:exported="false" />
        <activity
            android:name=".BookAppointments"
            android:exported="false" />
        <activity
            android:name=".HomePagePatient"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>